<div class="pusher">
  <button class="ui primary button" (click)="toggle()">
    toggle
  </button>
</div>

<div id="mysidebar" class="ui bottom sidebar segment">
  <div class="ui center aligned page grid">
    <div class="one column row">
      <div class="sixteen wide column">
        <h3 class="ui header">New Content Awaits</h3>
      </div>
    </div>
    <div class="three column divided row">
      <div class="column">
        <img class="ui wireframe image" src="">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="">
      </div>
      <div class="column">
        <img class="ui wireframe image" src="">
      </div>
    </div>
  </div>
</div>
